@using System.Security.Claims
@model IEnumerable<Job_refugio_bd.Models.Candidato>

@{
    ViewData["Title"] = "Index";
}

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div style="padding: 1% 5% 0 5%;">


<h1>Candidatos</h1>

<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                    <a asp-controller="Candidatos" asp-action="DetailsExibir" asp-route-id="@item.IdCandidato">Visualizar Dados</a> 
            </td>
        </tr>
}
    </tbody>
</table>
    <div class="signupButton">
        <a style="margin-right: 2%" asp-area="" asp-controller="Empregadores" asp-action="Details" asp-route-id="@userId" class="btn btn-outline-primary">Voltar</a>

    </div>
</div>