@model Job_refugio_bd.Models.Vaga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vaga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empregador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empregador.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoContratacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoContratacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagaPCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagaPCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegimeTrabalho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegimeTrabalho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SobreEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SobreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitosQualificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequisitosQualificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoAdicional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
