@model Job_refugio_bd.Models.Curriculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curriculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormAcad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormAcad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumoQualific)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumoQualific)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrincRealiza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrincRealiza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursosComplIdioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursosComplIdioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
