@using System.Security.Claims
@model IEnumerable<Job_refugio_bd.Models.Vaga>

@{
    ViewData["Title"] = "GerenciarVagas";
}

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div style="padding: 4% 2% 0 4%">
<h1>Gerenciar Vagas</h1>

<div class="vagas_criadas">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPublicacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPublicacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    <td>
                        <a asp-controller="Vagas" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> |
                        <a asp-controller="Vagas" asp-action="Inscritos" asp-route-id="@item.Id" class="btn btn-secondary">Inscritos</a> |
                        <a asp-controller="Vagas" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>

                    </td>
                    
                </tr>
                
            }
        </tbody>
    </table>
    
</div>
    <a style="margin-right: 10%" asp-area="" asp-controller="Empregadores" asp-action="Details" asp-route-id="@userId" class="btn btn-outline-primary">Voltar</a>
</div>